<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yedona.takephoto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <activity
            android:name=".ui.PermissionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <provider
            android:name="com.yedona.takephoto.config.PickPhotoFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:authorities="${applicationId}.yedona.provider">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>
</manifest>
